*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans';
}
body{
    width: 100%;
    min-height: 100vh;
    background-color: #f2f2f2;
}
nav{
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav h2{
    font-family: 'roboto';
    font-weight: 600;
    font-size: 28px;
    letter-spacing: 2px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    color: #717175;
    transition: color 0.5s;
}
nav ul li a:hover{
    color: #f44335;
}
.btn{
    display: inline-block;
    padding: 12px 25px;
    background-color: #f44335;
    border: 0;
    outline: none;
    color: #fff;
    font-size: 15px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.btn:hover{
    transform: scale(1.2);
}
.content{
    padding: 15% 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-txt h5{
    font-size: 1.4rem;
    color: #f44335;
    letter-spacing: 2px;
    margin-bottom: 7px;
}
.content-txt h1{
    font-size: 3.1rem;
    color: #333;
    line-height: 1.4;
    margin-bottom: 20px;
}
.content-txt p{
    color: #717175;
    font-size: 1.4rem;
    max-width: 100%;
    width: 430px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.btn2{
    display: inline-block;
    text-decoration: none;
    background-color: #f44335;
    padding: 12px 32px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    transition: all 0.5s;
}
.btn2:hover{
    border: 2px solid #f44335;
    background: transparent;
    color: #333;
}